html, 
body {
    background-color: grey;
    margin: 0;
    padding: 0;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.jumbotron {
    align-content: center;
}

li {
    border-bottom-style: black;
    border: 3px;
    color: whitesmoke;
}

.localStorage {
    border-radius: 5px;
}